html,
body {
  font-family: -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  padding: 0;
  margin : 0;
}

h2 {
  color: #1a7dd3;
}

h4 {
  color: #1a3f3e;
}